/* Reset some default styles */
body,
h1,
p,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f5f5f5; /* Set a background color */
    color: #333; /* Set the default text color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Set a white background for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 8px;
    text-align: justify;
}

h1 {
    font-size: 2.5em;
    font-weight: 200; /* Use the Extra Light weight */
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db; /* Set a blue color for the button */
    color: #fff; /* Set the text color of the button to white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Darken the button color on hover */
}

/* Add these styles to your existing style.css */

.item {
    cursor: pointer;
    margin-bottom: 20px;
}

.item img {
    width: 150px; /* Set the width of the item images */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.item p {
    text-align: center;
    margin-top: 10px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#logo img {
    transform: scale(0.1);
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#portalActions li:hover {
    background-color: #f0f0f0; /* Change to the color you want */
    cursor: move;
}

#dropZone {
    min-height: 200px; /* Adjust as needed */
    border: 2px dashed #000; /* Adjust color as needed */
    padding: 10px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#dropZone li.dropped {
    opacity: 1;
}

#dropZone li {
    background-color: #b4c5f8; /* Change to the color you want */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    transform: scale(1.2); /* Scale up the size */
}

#dropZone li:hover {
    background-color: #e5e5e5; /* Change to the color you want */
}

.book {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.book:hover {
    transform: scale(1.1);
}

.stone {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    list-style-type: none; /* Remove the default bullet points of the list items */
    transition: all 0.5s ease; /* Add this line */

}
.stone span {
    order: -1;
    margin-right: 10px;
}

#dropZone li:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Change to the color you want */
    cursor: move;
}

#dropZone2 {
    min-height: 75px; /* Adjust as needed */
    min-width: 500px;
    border: 2px dashed #000; /* Adjust color as needed */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#initialZone .stone:hover {
    transform: scale(1.1); /* Increase the size of the stone */
    cursor: move; /* Change the cursor to a move cursor */
}
#hiddenButton:hover {
    background-color: #ddd; /* Change to the color you want */
    cursor: pointer; /* Change the cursor to a pointer cursor */
}

/*.container img {
    width: 30%;   
    height: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/
a {
    color: inherit;      /* Make the color the same as the surrounding text */
    text-decoration: none; /* Remove the underline */
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-image {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.berries {
    width: 35%; /* Adjust this value to make the image larger or smaller */
    height: auto; /* This keeps the aspect ratio of the image */
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blocks-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; /* Adjust this value to make the image larger or smaller */
    height: auto; /* This keeps the aspect ratio of the image */
}
